node_modules
Deployment_cicd/
.dockerignore
.git/
.gitignore
Jenkinsfile_dev*
Jenkinsfile_qa*
node_modules/*
README.md
logs/*
nodemon.json
package-lock.json
tslint.json
swagger.json
Dockerfile_dev
Dockerfile
Dockerfile_qa

